
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vecindario App</title>
    <link rel="stylesheet" href="assets/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    <script src="assets/js/vendor/modernizr.js"></script>
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/foundation.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'> 
  </head>
  <body>
  <!-- New Part -->
  
   <!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
           <!-- <img src="img/logo.jpg" />--> </li>
          </a>
        </h1>
      
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
      <li><a href="#">About</a></li>
	<!--End Right Nav section -->
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->
   
<header>
  <div class="row">
    <div class="large-12 columns">
    
     <div class="row">
        <div class="large-6 columns">
            
          </div>
        </div>
 
        <div class="large-6 columns right">
       <!--<div class="panel">
            <h1>Welcome</h1>
            <p>The most advanced app for real estate investors</p>
</div>-->
   
        </div>
    </div>
  </div>
</header>

  <!--Off Canvas navigation -->

<div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Search Category</h1>
      </section>

      
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Sub Menu</label></li>
        <li><a href="#">Investors</a></li>
        <li><a href="#">Realtors</a></li>
        <li><a href="#">Buyers</a></li>
        <li><a href="#">Sellers</a></li>

      </ul>
    </aside>

   <section class="main-section">
       <!--form-->
 <div class="row">
      <div class="large-12 columns">
       <h2>Form Title</h2>
      </div>
    </div>
         <form>
  <div class="row">
    <div class="large-12 columns">
      <label>Input Label
        <input type="text" placeholder="large-12.columns" />
      </label>
    </div>
  </div>
  
  <div class="row">
    <div class="large-12 columns">
      <label>Quantity (between 1 and 5)
         <input type="range" name="quantity" min="1" max="5">
      </label>
    </div>
  </div>
  <br/>
  
  <div class="row">
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="large-4.columns" />
      </label>
    </div>
    <div class="large-4 columns">
      <label>Input Label
        <input type="text" placeholder="large-4.columns" />
      </label>
    </div>
    <div class="large-4 columns">
      <div class="row collapse">
        <label>Input Label</label>
        <div class="small-9 columns">
          <input type="text" placeholder="small-9.columns" />
        </div>
        <div class="small-3 columns">
          <span class="postfix">.com</span>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Select Box
        <select>
          <option value="husker">Husker</option>
          <option value="starbuck">Starbuck</option>
          <option value="hotdog">Hot Dog</option>
          <option value="apollo">Apollo</option>
        </select>
      </label>
    </div>
  </div>
  <div class="row">
    <div class="large-6 columns">
      <label>Choose Your Favorite</label>
      <input type="radio" name="pokemon" value="Red" id="pokemonRed"><label for="pokemonRed">Red</label>
      <input type="radio" name="pokemon" value="Blue" id="pokemonBlue"><label for="pokemonBlue">Blue</label>
    </div>
    <div class="large-6 columns">
      <label>Check these out</label>
      <input id="checkbox1" type="checkbox"><label for="checkbox1">Checkbox 1</label>
      <input id="checkbox2" type="checkbox"><label for="checkbox2">Checkbox 2</label>
    </div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <label>Textarea Label
        <textarea placeholder="small-12.columns"></textarea>
      </label>
    </div>
  </div>
</form>

<!--form-->
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>

<!--End off canvas navigation-->
 





        </div>
      </div>
 
      
      </div>
    </div>
 
  </div>
 

  
  <!-- New Part -->
    
    
    
    <div class="row">
      <div class="large-12 columns">
      	<div class="panel">
	        <h3>H3 Title for whatever we want</h3>
	        <p>Paragraph</p>
	        <p>Paragraph</p>
	        <div class="row">
	        	<div class="large-4 medium-4 columns">
	    		<p><a href="#">Column 1</a><br />We got this</p>
	    	</div>
	        	<div class="large-4 medium-4 columns">
	        		<p><a href="#">Column 2</a><br />We got this</p>
	        	</div>
	        	<div class="large-4 medium-4 columns">
	        		<p><a href="#">Column 3</a><br />We got this</p>
	        	</div>        
					</div>
      	</div>
      </div>
    </div>

    <div class="row">
      <div class="large-8 medium-8 columns">
        <h5>More grid variations:</h5>
        <!-- Grid Example -->

        <div class="row">
          <div class="large-12 columns">
            <div class="callout panel">
              <p><strong>Bold.</strong> panels</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-6 medium-6 columns">
            <div class="callout panel">
              <p>Six columns</p>
            </div>
          </div>
          <div class="large-6 medium-6 columns">
            <div class="callout panel">
              <p>Six columns</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
          <div class="large-4 medium-4 small-4 columns">
            <div class="callout panel">
              <p>Four columns</p>
            </div>
          </div>
        </div>
        
        <hr />
                
        
      <div class="large-4 medium-4 columns">
			  <h5>Buttons:</h5>
			  <p><a href="#" class="small button">Simple Button</a><br/>
        <a href="#" class="small radius button">Radius Button</a><br/>
        <a href="#" class="small round button">Round Button</a><br/>            
        <a href="#" class="medium success button">Success Btn</a><br/>
        <a href="#" class="medium alert button">Alert Btn</a><br/>
        <a href="#" class="medium secondary button">Secondary Btn</a></p>           
				<div class="panel">
        	
        </div>
      </div>
    </div>
      <!-- Footer -->
 
  <footer class="row">
  <div class="large-12 columns"><hr />
      <div class="row">
 
        <div class="large-6 columns">
            <p>© Copyright no one at all. Go to town.</p>
        </div>
 
        <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
        </div>
 
      </div>
  </div>
  </footer>

    <script>
      $(document).foundation();
    </script>
  </body>
</html>
