<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vecindario App</title>
    <link rel="stylesheet" href="assets/css/foundation.css" />
    <link rel="stylesheet" type="text/css" href="assets/css/custom.css">
    <script src="assets/js/vendor/modernizr.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'> 
  </head>
  <body>
  <!-- New Part -->
  
   <!-- Navigation -->
 
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <!-- Title Area -->
      <li class="name">
        <h1>
          <a href="#">
           <!-- <img src="img/logo.jpg" />--> </li>
          </a>
        </h1>
      
      <li class="toggle-topbar menu-icon"><a href="#"><span>menu</span></a></li>
    </ul>
 
    <section class="top-bar-section">
      <!-- Right Nav Section -->
      <ul class="right">
      <li><a href="#">About</a></li>
	<!--End Right Nav section -->
      </ul>
    </section>
  </nav>
 
  <!-- End Top Bar -->
   
<header>
  <div class="row">
    <div class="large-12 columns">
    
     <div class="row">
        <div class="large-6 columns">
            
          </div>
        </div>
 
        <div class="large-6 columns right">
       <!--<div class="panel">
            <h1>Welcome</h1>
            <p>The most advanced app for real estate investors</p>
</div>-->
   
        </div>
    </div>
  </div>
</header>

 <div class="off-canvas-wrap">
  <div class="inner-wrap">
    <nav class="tab-bar">
      <section class="left-small">
        <a class="left-off-canvas-toggle menu-icon" ><span></span></a>
      </section>

      <section class="middle tab-bar-section">
        <h1 class="title">Category Menu</h1>
      </section>

      <section class="right-small">
        <a class="right-off-canvas-toggle menu-icon" ><span></span></a>
      </section>
    </nav>

    <aside class="left-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Sub Menu</label></li>
        <li><a href="#">Investors</a></li>
        ...
      </ul>
    </aside>

    <aside class="right-off-canvas-menu">
      <ul class="off-canvas-list">
        <li><label>Sub Menu 2</label></li>
        <li><a href="#">Investors</a></li>
        ...
      </ul>
    </aside>

    <section class="main-section">
      <!-- content goes here -->
      The form
      <br/>
      <br/><br/><br/><br/><br/><br/><br/>
    </section>

  <a class="exit-off-canvas"></a>

  </div>
</div>
 





        </div>
      </div>
 
      
      </div>
    </div>
 
  </div>

   
      <!-- Footer -->
 
  <footer class="row">
  <div class="large-12 columns"><hr />
      <div class="row">
 
        <div class="large-6 columns">
            <p>© Copyright fuck you</p>
        </div>
 
        <div class="large-6 columns">
            <ul class="inline-list right">
              <li><a href="#">Link 1</a></li>
              <li><a href="#">Link 2</a></li>
              <li><a href="#">Link 3</a></li>
              <li><a href="#">Link 4</a></li>
            </ul>
        </div>
 
      </div>
  </div>
  </footer>
    <script src="assets/js/vendor/jquery.js"></script>
    <script src="assets/js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
